<div class="container">

  <div class="jumbotron flex-center">
    <div id="player"></div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid flex">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'playlist'}}Playlist{{/link-to}}</li>
        <li>{{#link-to 'search'}}Search{{/link-to}}</li>
      </ul>
    </div>
  </nav>

  {{outlet}}
</div>
