<div class="container">
<div class="row">
  <div class="col-md-5">
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        {{#if playlist}}
          <li>{{#link-to 'playlist' playlist.id}}Playlist{{/link-to}}</li>
        {{else}}
          <li>{{#link-to 'index'}}Playlist{{/link-to}}</li>
        {{/if}}
      </ul>
      <form class="navbar-form" {{action "search" query on="submit"}}>
        <div class="input-group">
          {{input value=query class="form-control" placeholder="Search"}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </nav>

    {{outlet}}
  </div>

  <div class="player col-md-7 flex-center">
    <div id="player"></div>
  </div>
</div>
</div>
