<div class="container">
<div class="row">
  <div class="player col-md-7 col-md-push-5 flex-center">
    <div id="player"></div>
  </div>

  <div class="col-md-5 col-md-pull-7">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        {{#if playlist}}
          {{#link-to 'playlist' playlist.id class="navbar-brand"}}
            PlaylistQ
          {{/link-to}}
        {{else}}
          {{#link-to 'index' class="navbar-brand"}}
            PlaylistQ
          {{/link-to}}
        {{/if}}
      </div>
      <form class="navbar-form-custom" {{action "search" query on="submit"}}>
        <div class="input-group">
          {{input value=query class="form-control" placeholder="Search"}}
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </nav>

    {{outlet}}
  </div>
</div>
</div>
