<div class="no-playlist flex-center flex-column">
  <div class="flex-column">
    <ol>
      <li><p>Search and add a video to create your playlist</p></li>
      <li>
        <p>
          Share the link in your browser's address bar to share your playlist
        </p>
      </li>
      <li>
        <p>
          Hit play and watch as your friend's add videos to your playlist
        </p>
      </li>
    </ol>
  </div>
  <div class="no-playlist-bottom flex-column">
    <i class="fa fa-list"></i>
  </div>
</div>
