<div class="flex-center">
  <div class="no-playlist flex-column">
    <p>Create a playlist by searching and adding a video.</p>
    <p>Once a playlist is created, share it by sharing the link in your browser's address bar.</p>
    <i class="fa fa-list"></i>
  </div>
</div>
