<ul class="list-group">
  {{#each model.videos as |video|}}
    <li class="list-group-item" {{action "setCurrentVideo" video.videoId}}>
      <img src="{{video.image}}" class="img-rounded"> {{video.title}}
    </li>
  {{/each}}
</ul>
