<div class="list-group">
  {{#each model.videos as |video|}}
    <div class="media" {{action "setCurrentVideo" video}}>
      <div class="media-left">
        <img class="img-rounded media-object" src="{{video.image}}"/>
      </div>
      <div class="media-body">
        <h5 class="media-heading">{{video.title}}</h5>
      </div>
    </div>
  {{/each}}
</div>
